@import './lib/lib-variables';

.sprites-box {
  text-align: center;
  .icon{
    display: inline-block;
    width: 250px;
    height: 250px;
    @each $icon in code, msg, fund, nonecoupon, record {
      &.icon-empty-#{$icon} {
        background-image: url('../img/sprites/empty-icon/#{$icon}-empty.png');
      }
    }
  }
}
